<w3-test-directive></w3-test-directive>
<div class="bg">
<container>
<center>
<br><br>
<img src="../api/media/images/koyoku_white.png" style="width:300px;" alt="">
<h4 style="color:white;text-shadow: 1px 1px #000;padding: 150px;">
Tenaga Kerja, Penyalur Pekerjaan, Penyedia Pekerjaan terhubung dalam komunitas.<br>
Koyoku mempermudah <b>pencarian kerja</b> dan <b>penempatan serta perlindungan kerja</b> diluar negeri, <b>hemat waktu</b> dan <b>biaya</b>.<br>
Bergabunglah bersama kami dan dapatkan hasil yang terbaik.</h4>
</center>
</container>
</div>

    <div class="footerindex">
<br>
  <div class="row-fluid col-md-3">
</div>
  <div class="row-fluid col-md-6">
    <div class="col-sm-3">
  
          <a class="afoot" href="#!/profil">Tentang Kami</a>
        
    </div>
    <div class="col-sm-3">
     
          <a class="afoot" href="#!/syarat">Ketentuan Umum</a>
      
    </div>
   <div  class="col-sm-2">
      
          <a class="afoot" href="#!/faq">Bantuan</a>
      
    </div>
    <div class="col-sm-3">
     
          <a class="afoot">Bahasa</a>
      
    </div>

</div>
</div>

