<w3-test-directive></w3-test-directive>
<br><br><br><br><br><br>
<div class="container" id="tourpackages-carousel">      
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
          <div class="alert alert-danger" role="alert">Registrasi Mengalami masalah, cek kembali data yang anda masukan</div>
        </div>
        
      </div><!-- End row -->
      
    </div><!-- End container -->
    <br><br><br><br><br><br><br><br><br><br><br><br>
  <footer-directive></footer-directive>