<w3-test-directive></w3-test-directive>
<h2 style="color:red;padding-left:110px;">Keanggotaan</h2>
<div class="bg-profil">
<br><br><br><br><br>
<br><br><br><br>
</div>
			

			<div class="tabbable-line">
			<div class="nav nav-tabs danger ">
			<div class="container">
				<div class="tabbable-line">
					
					<ul class="nav nav-tabs danger ">
						<li >
							
						</li>
						<li class="active">
							
						</li>
						<!-- <li>
							<a data-target="#tab_default_2" data-toggle="tab">
							Rekan</a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Testimoni </a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Blog </a>
						</li> -->
					</ul>

					</div>
				</div>
				</div>
					<div class="container">
					
					
					<div class="col-md-8">
					<br>
						<div class="tab-content">

						<div class="tab-pane active " data id="tab_default_1">
							<p>
								<p><span>Keanggotaan Koyoku terdiri individu, mitra (PPTKIS, <em>Agency</em>, <em>Job Owner</em>, Sarana Kesehatan, Balai Latihan Kerja Luar Negeri, Lembaga Keuangan, Lembaga Sertifikasi Profesi, Lembaga Asuransi), dan pemerintah. Keanggotaan individu tidak dipungut biaya dan berlaku selama mengikuti ketentuan yang berlaku di Koyoku. Keanggotaan mitra memiliki beberapa tingkatan, mulai dari free member hingga gold member. Untuk lebih jelas mengenai tingkat keanggotaan pengusaha, silakan lihat di sini. Untuk menjadi anggota, silakan lakukan pendaftaran di sini.</span></p>
							</p>
							<p>
								
							</p>
						</div>
						<div class="tab-pane " id="tab_default_2">
							<p>
								Howdy, I'm in Tab 2.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
							</p>
							<p>
								
							</p>
						</div>
						<div class="tab-pane " id="tab_default_3">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
									
							</p>
						</div>
					</div>
					</div>
					</div>
					
					
				
				</div>
				</div>
				
			<br><br>
			<footer-directive></footer-directive>