<w3-test-directive></w3-test-directive>
<h2 style="color:red;padding-left:110px;">FaQ</h2>
<div class="bg-profil">
<br><br><br><br><br>
<br><br><br><br>
</div>
			

			<div class="tabbable-line">
			<div class="nav nav-tabs danger ">
			<div class="container">
				<div class="tabbable-line">
					
					<ul class="nav nav-tabs danger ">
						<li >
							
						</li>
						<li class="active">
							
						</li>
						<!-- <li>
							<a data-target="#tab_default_2" data-toggle="tab">
							Rekan</a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Testimoni </a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Blog </a>
						</li> -->
					</ul>

					</div>
				</div>
				</div>
					<div class="container">
					
					<div class="col-md-8">
					<br>
						<div class="tab-content">
						<div class="tab-pane active " data id="tab_default_1">
							<p><strong>Bagaimana cara mendaftar di Koyoku?</strong></p>
<p style="padding-left: 30px;"><em>Tata cara mendaftar untuk menjadi anggota di Koyoku dapat dilihat di menu Ketentuan</em><br /><em>Umum &ndash; Pendaftaran</em></p>
<hr style="width: 600px;" width="600" />
<p style="padding-left: 30px;">&nbsp;</p>
<p><strong>Apakah saya dikenai biaya pendaftaran dan biaya keanggotaan?</strong></p>
<p style="padding-left: 30px;"><em>Koyoku tidak menarik biaya bagi calon tenaga kerja yang mendaftar dan bergabung di&nbsp;<em>Koyoku.</em></em></p>
<hr style="width: 600px;" width="600" />
<p style="padding-left: 30px;">&nbsp;</p>
<p><strong>Bagaimana jika saya lupa password?&nbsp;</strong></p>
<p style="padding-left: 30px;"><em>Gunakan fitur Lupa Password jika Anda tidak dapat mengingat password Anda.</em></p>
<hr style="width: 600px;" width="600" />
<p style="padding-left: 30px;">&nbsp;</p>
<p><strong>Bagaimana mencari lowongan yang saya inginkan?</strong></p>
<p style="padding-left: 30px;"><em>Anda dapat mencari lowongan pekerjaan yang diinginkan dengan melakukan pencarian</em><br /><em>berdasarkan bidang pekerjaan, lokasi pekerjaan, dan negara penempatan.</em></p>
<hr style="width: 600px;" width="600" />
<p style="padding-left: 30px;">&nbsp;</p>
<p><strong>Bagaimana cara melakukan apply terhadap lowongan pekerjaan tertentu?</strong></p>
<p style="padding-left: 30px;"><em>Anda dapat melihat tata cara apply lowongan di sini.</em></p>
<hr style="width: 600px;" width="600" />
<p style="padding-left: 30px;">&nbsp;</p>
<p><em><strong>Apakah saya dapat melakukan lowongan pekerjaan tanpa harus tergabung sebagai</strong></em><br /><em><strong>anggota di PPTKIS?</strong></em></p>
<p style="padding-left: 30px;"><em>Anda tidak diharuskan untuk tergabung terlebih dahulu dengan PPTKIS, namun kami</em><br /><em>menyarankan bagi Anda yang melamar pekerjaan informal untuk bergabung karena ada</em><br /><em>proses pelatihan kerja, sertifikasi profesi, pengurusan asuransi dan keuangan yang</em><br /><em>mudah, yang tidak bisa Anda dapatkan jika Anda tidak bergabung dengan PPTKIS.</em></p>
						</div>
					</div>
					</div>
					</div>
					
					
				
				</div>
				</div>
				
			<br><br>
			<footer-directive></footer-directive>