<w3-test-directive></w3-test-directive>
<h2 style="color:red;padding-left:110px;">Syarat dan Ketentuan</h2>
<div class="bg-profil">
<br><br><br><br><br>
<br><br><br><br>
</div>
			

			<div class="tabbable-line">
			<div class="nav nav-tabs danger ">
			<div class="container">
				<div class="tabbable-line">
					
					<ul class="nav nav-tabs danger ">
						<li >
							
						</li>
						<!-- <li>
							<a data-target="#tab_default_2" data-toggle="tab">
							Rekan</a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Testimoni </a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Blog </a>
						</li> -->
					</ul>

					</div>
				</div>
				</div>
					<div class="container">
					
					
					<div class="col-md-8">
					<br>
						<div class="tab-content">
						<div class="tab-pane active " data id="tab_default_1">
						
<p style="text-align: justify;"><br />Syarat ketentuan yang ditetapkan di bawah ini mengatur pemakaian jasa yang ditawarkan oleh PT. Koyoku terkait penggunaan situs www.koyoku.com. Pengguna disarankan membaca dengan seksama karena dapat berdampak kepada hak dan kewajiban Pengguna di bawah hukum. Dengan mendaftar dan/atau menggunakan situs www.koyoku.com, maka pengguna dianggap telah membaca, mengerti, memahami dan menyutujui semua isi dalam Syarat ketentuan. Syarat ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah perjanjian yang sah antara Pengguna dengan PT.Koyoku. Jika pengguna tidak menyetujui salah satu, sebagian, atau seluruh isi Syarat &	 ketentuan, maka pengguna tidak diperkenankan menggunakan layanan di www.koyoku.com.</p>
<p><em><strong>Definisi</strong></em></p>
<ol>
<li>PT. Koyoku adalah suatu perseroan terbatas yang menjalankan kegiatan usaha jasa web portal www.koyoku.com, yakni situs media sosial dan pencarian lowongan pekerjaan bagi TKI, situs job management bagi Agency dan Job Owner, dan situs human capital management bagi PPTKIS terdaftar. Selanjutnya disebut Koyoku.</li>
<li>Situs Koyoku adalah www.koyoku.com.</li>
<li>Syarat & ketentuan adalah perjanjian antara Pengguna dan Koyoku yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan Koyoku, serta tata cara penggunaan sistem layanan Koyoku.</li>
<li>Pengguna adalah pihak yang menggunakan layanan Koyoku, termasuk namun tidakterbatas pada TKI, agen PPTKIS, Agency, Job Owner, Sarana Kesehatan, Balai Latihan</li>
<li>Kerja Luar Negeri, Lembaga Sertifikasi Profesi, Lembaga Keuangan, Lembaga Asuransi, ataupun pihak lain yang sekedar berkunjung ke Situs Koyoku. TKI adalah Pengguna terdaftar yang melakukan pendaftaran maupun didaftarkan secara manual oleh Recruiter di PPTKIS di Situs Koyoku.</li>
<li>&nbsp;PPTKIS adalah Pengguna terdaftar yang memiliki suatu struktur organisasi dan melakukan proses Human Capital Management terhadap para TKI Situs Koyoku.</li>
<li>Recruiter adalah Pengguna terdaftar yang merupakan bagian dari Agen, yang dapat membantu perseorangan untuk mendaftarkan diri di Situs Koyoku.</li>
<li>&nbsp;Agency adalah Pengguna terdaftar yang merupakan agen di luar negeri, yang melakukan proses pengelolaan lowongan pekerjaan</li>
<li>Job Owner adalah Pengguna terdaftar yang merupakan mitra, perusahaan penyedia pekerjaan di luar negeri, dan dapat melakukan proses pengelolaan lowongan pekerjaan, serta pengelolaan tenaga kerja di bawahnya.</li>
<li>Sarana Kesehatan adalah Pengguna terdaftar yang merupakan partner dari PPTKIS, dan melakukan proses pengelolaan data pemeriksaan kesehatan bagi calon tenaga kerja.</li>
<li>Balai Latihan Kerja Luar Negeri adalah Pengguna terdaftar yang merupakan partner dari PPTKIS, dan melakukan proses pengelolaan data pelatihan kerja bagi calon tenaga kerja.</li>
<li>Lembaga Sertifikasi Profesi adalah Pengguna terdaftar yang merupakan partner dari PPTKIS, dan melakukan proses pengelolaan data sertifikasi profesi bagi calon tenaga kerja.</li>
<li>Lembaga Keuangan adalah Pengguna terdaftar yang merupakan partner dari PPTKIS, dan melakukan proses pengelolaan data pinjaman keuangan bagi calon tenaga kerja.</li>
<li>Lembaga Asuransi adalah Pengguna terdaftar yang merupakan partner dari PPTKIS, dan melakukan proses pengelolaan data asuransi bagi calon tenaga kerja, tenaga kerja aktif, dan tenaga kerja purna.</li>
</ol>
<p><em><strong>Akun</strong></em></p>
<ol>
<li>Pengguna dengan ini menyatakan bahwa pengguna adalah orang yang cakap dan mampu untuk mengikatkan dirinya dalam sebuah perjanjian yang sah menurut hukum.</li>
<li>Koyoku tidak memungut biaya pendaftaran kepada Pengguna.</li>
<li>Pengguna yang telah mendaftar berhak bertindak sebagai:</li>
<p style="padding-left: 30px;">- Calon Tenaga Kerja<br />- PPTKIS<br />- Agency<br />- Job Owner<br />- Sarana Kesehatan<br />- Balai Latihan Kerja Luar Negeri<br />- Lembaga Sertifikasi Profesi<br />- Lembaga Keuangan<br />- Lembaga Asurans</p>
<li>Pengguna yang akan bertindak sebagai PPTKIS, Agency, Job Owner, Sarana Kesehatan,</li>
<li>Balai Latihan Kerja Luar Negeri, Lembaga Sertifikasi Profesi, Lembaga Keuangan, dan<br />Lembaga Asuransi akan melewati proses verifikasi dan validasi oleh Koyoku terlebih<br />dahulu, untuk memastikan bahwa pengguna tersebut telah terlegalisasi oleh badan yang<br />berwenang.</li>
<li>Koyoku tanpa pemberitahuan terlebih dahulu kepada Pengguna, memiliki kewenangan<br />untuk melakukan tindakan yang perlu atas setiap dugaan pelanggaran atau pelanggaran<br />Syarat & ketentuan dan/atau hukum yang berlaku, yakni tindakan berupa suspensi akun,<br />dan/atau penghapusan akun pengguna.</p>
<li>Pengguna bertanggung jawab secara pribadi untuk menjaga kerahasiaan akun dan<br />password untuk semua aktivitas yang terjadi dalam akun Pengguna.</li>
<li> Koyoku tidak akan meminta email, username, password milik akun Pengguna untuk<br />alasan apapun, oleh karena itu Koyoku menghimbau Pengguna agar tidak memberikan<br />data tersebut maupun data penting lainnya kepada pihak yang mengatasnamakan Koyoku<br />atau pihak lain yang tidak dapat dijamin keamanannya.</li>
<li>Pengguna setuju untuk memastikan bahwa Pengguna keluar dari akun di akhir setiap sesi<br />dan memberitahu Koyoku jika ada penggunaan tanpa izin atas sandi atau akun Pengguna.</li>
<li> Pengguna dengan ini menyatakan bahwa Koyoku tidak bertanggung jawab atas kerugian<br />atau kerusakan yang timbul dari penyalahgunaan akun Pengguna.<br />Kebijakan Privasi<br />Privasi Pengguna merupakan prioritas bagi Koyoku. Koyoku akan menjaga privasi Pengguna</p>
						</div>
</ol>

					</div>
					</div>
					</div>
					
					
				
				</div>
				</div>
				
			<br><br>
			<footer-directive></footer-directive>