<w3-test-directive></w3-test-directive>
<h2 style="color:red;padding-left:110px;">Kontak Kami</h2>
<div class="bg-profil">
<br><br><br><br><br>
<br><br><br><br>
</div>
			

			<div class="tabbable-line">
			<div class="nav nav-tabs danger ">
			<div class="container">
				<div class="tabbable-line">
					
					<ul class="nav nav-tabs danger ">
						<li >
							
						</li>
						<li class="active">
							
						</li>
						<!-- <li>
							<a data-target="#tab_default_2" data-toggle="tab">
							Rekan</a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Testimoni </a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Blog </a>
						</li> -->
					</ul>

					</div>
				</div>
				</div>
					<div class="container">
					
					
					<div class="col-md-8">
					<br>
						<div class="tab-content">
						<div class="tab-pane active " data id="tab_default_1">
							
							
<p><strong>Koyoku</strong><br /><strong>Thamrin City Office Park Blok AA-02</strong><br /><strong>Jl. Thamrin Boulevard - Jakarta Pusat 10230</strong></p>
						</div>
					</div>
					</div>
					</div>
					
					
				
				</div>
				</div>
				
			<br><br>
			<footer-directive></footer-directive>