<w3-test-directive></w3-test-directive>
<h2 style="color:red;padding-left:110px;">Tentang Kami</h2>
<div class="bg-profil">
<br><br><br><br><br>
<br><br><br><br>
</div>
			

			<div class="tabbable-line">
			<div class="nav nav-tabs danger ">
			<div class="container">
				<div class="tabbable-line">
					
					<ul class="nav nav-tabs danger ">
						<li >
							
						</li>
						<li class="active">
							<a data-target="#tab_default_1" data-toggle="tab">
							Profil Koyoku </a>
						</li>
						<!-- <li>
							<a data-target="#tab_default_2" data-toggle="tab">
							Rekan</a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Testimoni </a>
						</li>
						<li>
							<a data-target="#tab_default_3" data-toggle="tab">
							Blog </a>
						</li> -->
					</ul>

					</div>
				</div>
				</div>
					<div class="container">
					
					<div class="col-md-2">
					<br>
						<img src="../api/media/images/logo.png" class="img-responsive" alt="">
					</div>
					<div class="col-md-8">
					<br>
						<div class="tab-content">

						<div class="tab-pane active " data id="tab_default_1">
							<p>
								Koyoku merupakan gabungan dari komunitas, portal pencarian kerja, dan sistem informasi
								human management capital yang menghubungkan tenaga kerja (khususnya di Indonesia)
								kepada Agen PPTKIS (Penyalur Tenaga Kerja), Agency, Job Owner, serta beberapa lembaga
								pendukung lainnya yaitu Sarana Kesehatan, Balai Latihan Kerja Luar Negeri, Lembaga
								Keuangan, Lembaga Sertifikasi Profesi, dan Lembaga Asuransi.
								Misi utama Koyoku adalah menjembatani proses tenaga kerja Indonesia yang akan ke luar
								negeri, mulai dari pembentukan profil tenaga kerja, pencarian lowongan pekerjaan yang
								lengkap informasinya sehingga dapat disesuaikan dengan minat dan kompetensi, proses
								rekrutmen tenaga kerja dasar, proses seleksi tenaga kerja, proses pemberdayaan tenaga kerja
								di Agen PPTKIS, proses keberangkatan dan penempatan ke luar negeri, sarana komunikasi
								antar tenaga kerja di luar negeri dalam komunitas, proses monitoring tenaga kerja Indonesia
								yang sedang di luar negeri, proses perubahan status bagi tenaga kerja yang memperpanjang
								kontrak, serta proses kepulangan tenaga kerja yang sudah habis masa kontraknya.
							</p>
							<p>
								
							</p>
						</div>
						<div class="tab-pane " id="tab_default_2">
							<p>
								Howdy, I'm in Tab 2.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
							</p>
							<p>
								
							</p>
						</div>
						<div class="tab-pane " id="tab_default_3">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
									
							</p>
						</div>
					</div>
					</div>
					</div>
					
					
				
				</div>
				</div>
				
			<br><br>
			<footer-directive></footer-directive>